body {
    height: 100vh;
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
}

.site-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 0px;
    margin: 0px;
}

.header, .hero {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 16px;
    width: 900px;
}

.logo {
    height: 55px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    line-height: 55px;
}

.menu {
    vertical-align: middle;
}

.menu a {
    text-decoration: none;
    color: #F9FAF8;
}

.menu ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.hero {
    justify-content: center;
    width: 900px;
}


.hero-header {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    line-height: 38px;
    margin-top: 10px; 
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-start;
    margin-right: 10px;
}

.hero-content {
    margin-top: -35px;
    ma
}

.hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 3;
    background-color: darkgrey;
    text-align: center;
    min-width: 450px;
     
}

.button-signup {
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    width: 120px;
    height: 40px;
    color: #F9FAF8;
    font-weight: 800;
}

.card img {
    height: 100px;
    width: 100px;
}